<div class="container" style = "margin-top: 60px;">
    <div class="page-header">
        <h2>{{ committee }}</h2>
    </div>
    <div class="alert alert-danger" ng-show="errorGetEvent" role="alert">Error loading event data.</div>
    <div class="row">
    <div class="col-md-4">
        <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Event Dashboard</h4>
            </div>
            <div class="panel-body">
                <p ng-show="events.length==0">No events available.</p>
                <p class="text-muted" ng-show="allEvents.length>0">*Click on individual event to view swipe history.</p>
                <table class="table table-hover" id="dataTable" ng-show="events.length>0">
                    <thead>
                        <tr>
                            <th>Include</th>
                            <th>Event</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in events" >
                            <td> <label><input type="checkbox" ng-click="select(event)" ></label></td>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.start_time | dateFormat }}</td>
                        </tr>
                    </tbody>
                <!--    <p ng-repeat="event in events.data">{{ event._id }}</p>-->
                </table>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>Selected Events</h4>
                </div>
                <div class="panel-body">
                    <p text-muted ng-show="!showActiveForm">No event selected.</p>
                    <table class="table table-hover" id="dataTable2" ng-show="showActiveForm">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in activeEvents" >
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.start_time | dateFormat }}</td>
                        </tr>
                    </tbody>
                <!--    <p ng-repeat="event in events.data">{{ event._id }}</p>-->
                </table>
                    <input type="button" class="btn btn-success btn-block" value="Submit" ng-click="showGraph()" ng-show="showActiveForm">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Swipe Data Analysis</h4>
            </div>
            <div class="panel-body">
    <!--        <p class="text-muted" ng-show = "activeEvent">{{ activeEvent.start_time | dateFormat }} &nbsp; to &nbsp; {{ activeEvent.end_time | dateFormat }}</p>-->
                 <div class="alert alert-danger" ng-show="fileDNE.status" role="alert">No data file for the following event: {{ fileDNE.file }}. </div>
                <div id="graphdiv"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<footer style="height:80px;">

</footer>

<!--
<script type="text/javascript">
//    g = new Dygraph( document.getElementById("graphdiv"),
                    
//                   )
//    $(document).ready(function(){
        // Not working
//        $("tr").click(function(){
//            $(this).fadeOut();
//        });
//    });
//    $("#dataTable").DataTable();
</script>
-->
