<div class="container" style = "margin-top: 60px;">
    <div class="page-header">
        <div class="container">
            <div class="col-sm-5">
                <div class="row">
                 <h1>{{ committee }}</h1>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                     <ul class="nav nav-pills pull-right" role="tablist" style="padding-top:20px;">
                      <li role="presentation" class="active"><a href="">Dashboard</span></a></li>
                      <li role="presentation"><a ng-href="/#/comparison/{{committee}}">Compare Events</a></li>
                      <li role="presentation"><a href="/#/swipe/{{currentEvent._id}}">Swipe Page</a></li>
                    </ul>
                </div>
            </div>


            </div>
    </div>

    <div class="alert alert-danger" ng-show="errorGetEvent" role="alert">Error loading event data.</div>
    <div class="row">
    <div class="col-md-5">
        <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Event Selection</h4>
            </div>
            <div class="panel-body">
                <p ng-show="events.length==0">No events available.</p>
                <p class="text-muted" ng-show="events.length>0">*Click on individual event to view swipe history.</p>
<!--                Insert datatable here-->
                     <table id="eventTable" datatable="ng" class="row-border hover">
                        <thead>
                            <tr>
                               <th>Event</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in events" ng-click="showInfoFor(event)" ng-style="{ 'background-color': currentEvent == event ? '#d9edf7' : 'initial' }">
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.start_time | dateFormat }}</td>
                        </tr>
                        </tbody>
                    </table>
<!--                datatable ends-->
            </div>
        </div>
        </div>

    </div>
<!--        DVD3 Graph-->
    <div class="col-md-7">
        <div class="panel panel-success" style="min-height: 825px;">
            <div class="panel-heading">
                <h4>Event Data</h4>
            </div>
            <div class="panel-body">
            <p class="text-muted" ng-show = "!currentEvent">No event selected.</p>
                <div ng-style="{ visibility: !currentEvent ? 'hidden' : 'normal' }" >
                    <attendance-graph data="currentEvent.attendance"></attendance-graph>
                </div>
                <br>
                 <div class="alert alert-success" ng-show="submitSuccess" role="alert">Event {{ currentEvent.event_name }} is successfully updated.</div>
                <div class="alert alert-danger" ng-show="submitFailure" role="alert">Event {{ currentEvent.event_name }} update failed. Please contact administrator.</div>
                <div ng-show="currentEvent">
                <button ng-show="!edit_enabled" class="btn btn-warning" ng-click = "edit_enabled = !edit_enabled">Edit Event</button>
                <button ng-show="edit_enabled" class="btn btn-success" ng-click = "submitForm()">Save Event</button>
                    <table ng-show="!edit_enabled" class='table borderless' id="borderless">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Event Title </td>
                            <td>{{currentEvent.event_name}}</td>
                        </tr>
                        <tr>
                            <td>Date Time </td>
                            <td>{{currentEvent.start_time | dateFormat}} to {{currentEvent.end_time | dateFormat }}</td>
                        </tr>
                        <tr>
                            <td>Public </td>
                            <td>{{currentEvent.is_public}}</td>
                        </tr>
                        <tr>
                            <td>Description </td>
                            <td>{{currentEvent.event_desc}}</td>
                        </tr>
                        <tr>
                            <td>External Link </td>
                            <td><a ng-href="{{currentEvent.links[0]}}"</td>
                        </tr>
                        <tr>
                            <td>Primary DUU Contact </td>
                            <td><a ng-href="mailto:{{currentEvent.primary_duu_contacts[0].contact_info}}@duke.edu">{{currentEvent.primary_duu_contacts[0].contact_info}}</a>
                            </td>
                        </tr>
                         <tr>
                            <td>External Contact </td>
                            <td><a ng-href="mailto:{{currentEvent.primary_ext_contacts[0].contact_info}}@duke.edu">{{currentEvent.primary_ext_contacts[0].contact_info}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Attendance </td>
                            <td>{{currentEvent.sensor_count == 0 ? currentEvent.attendance.length : selectedEvents[0].sensor_count}}</a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                    <form novalidate ng-show = "edit_enabled">
                    <table class='table borderless' id="borderless">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Event Title </td>
                            <td><input class="form-control" type="text" placeholder="{{currentEvent.event_name}}" ng-model="currentEvent.event_name"></td>
                        </tr>
                        <tr>
                            <td>Start Time </td>
                            <td>
                                <input class="form-control" type="text" placeholder="{{currentEvent.start_time | dateFormat }}" ng-model="currentEvent.start_time">
                            </td>

                        </tr>
                         <tr>
                            <td>End Time </td>
                            <td> <input class="form-control" type="text" placeholder="{{currentEvent.end_time | dateFormat }}" ng-model="currentEvent.end_time"></td>
                        </tr>
                        <tr>
                            <td>Public </td>
                            <td><input class="form-control" type="text" placeholder="{{currentEvent.is_public}}" ng-model="currentEvent.is_public"></td>
                        </tr>
                        <tr>
                            <td>Description </td>
                            <td><textarea class="form-control" type="text" placeholder="{{currentEvent.event_desc}}" ng-model="currentEvent.event_desc"></textarea></td>
                        </tr>
                        <tr>
                            <td>External Link </td>
                            <td><input class="form-control" type="text" placeholder="{{currentEvent.links[0]}}" ng-model="currentEvent.links[0]"></td>
                        </tr>
                        <tr>
                            <td>Primary DUU Contact </td>
                            <td><input class="form-control" type="text" placeholder="{{currentEvent.primary_duu_contacts[0].contact_info}}" ng-model="currentEvent.primary_duu_contacts[0].contact_info"></td>
                        </tr>
                         <tr>
                            <td>External Contact </td>
                             <td><input class="form-control" type="text" placeholder="{{currentEvent.primary_ext_contacts[0].contact_info}}" ng-model="currentEvent.primary_ext_contacts[0].contact_info"></td>
                        </tr>
                        <tr>
                            <td>Attendance </td>
                            <td>{{currentEvent.sensor_count == 0 ? currentEvent.attendance.length : selectedEvents[0].sensor_count}}</a>
                            </td>
                        </tr>
                    </tbody>
                    </table>

                    </form>



                <button ng-click="genCSV()" class="btn btn-success"> Download Attendance Data </button> &nbsp &nbsp<button class="btn btn-primary" ng-click="genDGDump()"> Generate DukeGroups Dump </button>
                </div>

                <br>
            </div>
        </div>
    </div>
    </div>
</div>

<footer style="height:80px;">

</footer>

<!--
<script type="text/javascript">
   $(document).ready(function() {
    $('#example').DataTable( {
        "ajax": '../ajax/data/arrays.txt'
    } );
} );
</script>
-->
