<div class="well text-center col-md-12 ng-scope" style="margin-top:80px"> 
	<h1>Event Comparisons for {{committee}}</h1>
	<br />
	<h4 ng-if="!(event1 && event2)">Select two events to compare:</h3>
	<br />
	<div class="col-md-6 text-center">
		<select class="form-control" ng-model="event1" ng-options="event as event.event_name for event in events"></select>
	</div>
	<div class="col-md-6 text-center">
		<select class="form-control" ng-model="event2" ng-options="event as event.event_name for event in events"></select>
	</div>
</div>
<table ng-if="event1 && event2" class="table table-hover table-bordered">
	<thead>
		<tr>
			<th class="col-md-2"></th>
			<th class="text-center col-md-5">{{event1.event_name}}</th>
			<th class="text-center col-md-5">{{event2.event_name}}</th>
		</tr>
	</thead>
	<tbody>
	<tr>
	<th>
		Description
	</th>
	<td> {{event1.event_desc}} </td>
	<td> {{event2.event_desc}} </td>
	</tr>
	<tr>
	<th>
		Start Time - End Time
	</th>
	<td> {{event1.start_time}} - {{event1.end_time}} </td>
	<td> {{event2.start_time}} - {{event2.end_time}} </td>
	</tr>
		</tr>
	<tr>
	<th>
		Location
	</th>
	<td> {{event1.loc.location_desc}} ({{event1.loc.location_str}}) </td>
	<td> {{event2.loc.location_desc}} ({{event2.loc.location_str}}) </td>
	</tr>
	<tr>
	<th>
		Public? Restricted?
	</th>
	<td> {{event1.is_public ? "Yes" : "No"}}, {{event1.restricted_access ? "Yes" : "No"}}  </td>
	<td> {{event2.is_public ? "Yes" : "No"}}, {{event2.restricted_access ? "Yes" : "No"}} </td>
	</tr>
	<tr>
	<th>
		Estimated Cost
	</th>
	<td> {{event1.est_cost}} </td>
	<td> {{event2.est_cost}} </td>
	</tr> 
	<tr>
	<th>
		Attendance
	</th>
	<td> <a href="#/detail/{{event1._id}}">{{event1.sensor_count == 0 ? event1.attendance.length : event1.sensor_count}} (click for breakdown) </a> </td>
	<td> <a href="#/detail/{{event2._id}}">{{event2.sensor_count == 0 ? event2.attendance.length : event2.sensor_count}} (click for breakdown) </a> </td>
	</tr> 
	<tr>
	<th>
		Notes
	</th>
	<td> {{event1.notes}} </td>
	<td> {{event2.notes}} </td>
	</tr> 
	<tr>
	<th>
		External Contacts
	</th>
	<td> <div ng-repeat="contact in event1.primary_ext_contacts"><a href="mailto:{{contact.contact_info}}">{{contact.contact_name}}</a></div></td>
	<td> <div ng-repeat="contact in event2.primary_ext_contacts"><a href="mailto:{{contact.contact_info}}">{{contact.contact_name}}</a></div></td>
	</tr> 
	<tr>
	<th>
		DUU Contacts
	</th>
	<td> <div ng-repeat="contact in event1.primary_duu_contacts"><a href="mailto:{{contact.contact_info}}">{{contact.contact_name}}</a></div></td>
	<td> <div ng-repeat="contact in event2.primary_duu_contacts"><a href="mailto:{{contact.contact_info}}">{{contact.contact_name}}</a></div></td>
	</tr> 
	<tr>
	<th>
		Links
	</th>
	<td> <div ng-repeat="link in event1.links"><a href="{{link}}">{{link}}</a></div></td>
	<td> <div ng-repeat="link in event2.links"><a href="{{link}}">{{link}}</a></div></td>
	</tr> 
	</tbody>
</table>

