<div class="well text-center col-md-4 col-md-offset-4" style="margin-top:80px">
    <h2>
        Login
    </h2>

    <form>
        <div class="form-group">
            <input ng-model="email" type="email" class="form-control" name="email" placeholder="email"/>
        </div>
        <div class="form-group">
            <input ng-model="psd" type="password" class="form-control" name="password" placeholder="Password"/>
        </div>
        <input ng-click="login()" type="submit" class="btn btn-success" value="Login"/>
    </form>
</div>
