
    <div id="wrapper">
       

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" id="DUU">
                    <a href="#">Duke University Union</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-coffee"></i>&nbsp;&nbsp;&nbsp; Coffee House</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-microphone"></i>&nbsp;&nbsp;&nbsp; Speakers & Stages</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar-plus-o"></i>
&nbsp;&nbsp;&nbsp;LDOC</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-spinner"></i>&nbsp;&nbsp;&nbsp;Visarts</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;WXDU</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-headphones"></i>&nbsp;&nbsp;&nbsp;Small Town Records</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-music"></i>&nbsp;&nbsp;&nbsp;Jazz@</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;&nbsp;Innovations</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-film"></i>&nbsp;&nbsp;&nbsp;Freewater Presentations<a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;&nbsp;Freewater Productions</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-rss"></i>&nbsp;&nbsp;&nbsp;Duke Student Broadcasting</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ticket"></i>&nbsp;&nbsp;&nbsp;Campus Concerts</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Annual Events</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
        <div class="col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-lg-12">
                    
<!--                    end nav-->
                    <br>
<!--                    NEW EVENT FORM-->
                   
                    <div ng-controller="eventFormController">
                        <div class="alert alert-success" ng-init="submitSuccess:false" ng-show="submitSuccess" role="alert">Great! You successfully created a new event!</div>
                    
                    <form class="form-horizontal" name="newEventForm" role="form" ng-init="showNewEventForm:true" ng-show="showNewEventForm" novalidate>           
                    <div class="page-header">
                        <h1>New Event</h1>
                    </div>
                    <div class="alert alert-danger" ng-init="invalidForm:false" ng-show="invalidForm" role="alert">Please fill out the required fields before submission!</div>
                        
<!--                        Event Title-->
                        <div class="form-group required" ng-class="{'has-error':newEventForm.eventTitle.$invalid && !newEventForm.eventTitle.$pristine }">
                            <label for="event-title" class="col-sm-4 control-label">Event Title</label>                 
                            <div class="col-sm-8">
                            <input type="text" name="eventTitle" ng-model="event.event_name" class="form-control" id="event-title" placeholder="Enter a title for the event" required>
                            <p ng-show="newEventForm.eventTitle.$invalid && !newEventForm.eventTitle.$pristine" class="help-block">Event title is required.</p>
<!--                                <p>{{ event.event_name }}</p>-->
                            </div>
                        </div>
                        
                        
                        
<!--                        location-->
                        <div class="form-group required" ng-class="{'has-error':newEventForm.eventLoc.$invalid && !newEventForm.eventLoc.$pristine }">
                            <label for="event-loc" class="col-sm-4 control-label">Event Location</label>                 
                            <div class="col-sm-8">
                            <input type="text" name="eventLoc" ng-model="event.loc" class="form-control" id="event-loc" placeholder="Enter a location for the event" required>
                                <p ng-show="newEventForm.eventLoc.$invalid && !newEventForm.eventLoc.$pristine" class="help-block">Event location is required.</p>
<!--                                <p>{{ newEventForm.eventLoc.$valid }}</p>-->
                            </div>
                        </div>
                        
<!--                        LOCATION DESC-->
                        
                         <div class="form-group required" ng-class="{'has-error':newEventForm.eventLocDesc.$invalid && !newEventForm.eventLocDesc.$pristine }">
                            <label for="event-loc-desc" class="col-sm-4 control-label">Location Description</label>                 
                            <div class="col-sm-8">
<!--                            <input type="text" name="eventLoc" ng-model="event.loc_desc" class="form-control" id="event-loc" placeholder="Describe this location" required>-->
                                 <textarea ng-model="event.loc_desc" name="eventLocDesc" class="form-control" rows="5" id="event-loc-desc" placeholder="Describe this location here." required></textarea>
                                <p ng-show="newEventForm.eventLoc.$invalid && !newEventForm.eventLoc.$pristine" class="help-block">Location description is required.</p>
<!--                                <p>{{ newEventForm.eventLoc.$valid }}</p>-->
                            </div>
                        </div>
                        
<!--                        Committee-->
                        
                        <div class="form-group required">
                            <label for="select" class="col-sm-4 control-label">Committee</label>
                            <div class="col-sm-8">
<!--                                <input type="text" class="form-control" id="committee" placeholder="Choose your committee">-->
                                <select title="Select your committee" ng-model="event.committee" id="committee" class="show-tick form-control" data-size="5" multiple>
                                    <option>Coffee House</option>
                                    <option>Speakers & Stages</option>
                                    <option>LDOC</option>
                                    <option>Visarts</option>
                                    <option>WXDU</option>
                                    <option>Small Town Records</option>
                                    <option>Jazz@</option>
                                    <option>Innovations</option>
                                    <option>Freewater Presentations</option>
                                    <option>Freewater Productions</option>
                                    <option>Duke Student Broadcasting</option>
                                    <option>Campus Concerts</option>
                                    <option>Annual Events</option>
                                </select>
<!--                                <p>{{ event.committee }}</p>-->
                            </div>
                        </div>
                        
<!--                        wrapper for datetimepair-->
<!--                    <div id="datepairExample">-->
                        
<!--                        Date-->
                        
                        <div class="form-group required" ng-class="{'has-error':newEventForm.eventDate.$invalid && !newEventForm.eventDate.$pristine }">
                            <label for="datepicker" class="col-sm-4 control-label">Date of event</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                <input ng-model="event.date" name="eventDate" datepicker type="text" class="form-control"  placeholder="Pick a date" aria-describedby="gl_date" id="datepicker" required>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" area-hidden="true"></span>
                                </span>
                                </div>
                                 <p ng-show="newEventForm.eventDate.$invalid && !newEventForm.eventDate.$pristine" class="help-block">Event date is required.</p>
<!--                                <p>{{ newEventForm.eventDate.$valid }}</p>-->
                            </div>                    
                        </div>
                        
<!--                        Time    -->
                        <div class="form-group required">
                            <label for="event-time" class="col-sm-4 control-label">Time of event</label>
                        
                            <div class="col-sm-8">
                                <div class="form-inline input-group">
                                     <select title="From" ng-model="event.start_time" id="event-time-from" class="show-tick form-control" data-size="5" multiple>
                                    <option>8:00 AM</option>
                                    <option>8:30 AM</option>
                                    <option>9:00 AM</option>
                                    <option>9:30 AM</option>
                                    <option>10:00 AM</option>
                                    <option>10:30 AM</option>
                                    <option>11:00 AM</option>
                                    <option>11:30 AM</option>
                                    <option>12:00 PM</option>
                                    <option>12:30 PM</option>
                                    <option>1:00 PM</option>
                                    <option>1:30 PM</option>
                                    <option>2:00 PM</option>
                                    <option>2:30 PM</option>
                                    <option>3:00 PM</option>
                                    <option>3:30 PM</option>
                                    <option>4:00 PM</option>
                                    <option>4:30 PM</option>
                                    <option>5:00 PM</option>
                                    <option>5:30 PM</option>
                                    <option>6:00 PM</option>
                                    <option>6:30 PM</option>
                                    <option>7:00 PM</option>
                                    <option>7:30 PM</option>
                                    <option>8:00 PM</option>
                                    <option>8:30 PM</option>
                                    <option>9:00 PM</option>
                                    <option>9:30 PM</option>
                                    <option>10:00 PM</option>
                                    <option>10:30 PM</option>
                                    <option>11:00 PM</option>
                                    <option>11:30 PM</option>
                                </select>

<!--                                <p>{{ event.start_time }}</p>-->
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time" area-hidden="true"></span>
                                </span>
                                    
                                     <select title="To &nbsp;" ng-model="event.end_time" class="form-control show-tick" data-size="5" id="event-time-to" multiple>
                                    <option>8:00 AM</option>
                                    <option>8:30 AM</option>
                                    <option>9:00 AM</option>
                                    <option>9:30 AM</option>
                                    <option>10:00 AM</option>
                                    <option>10:30 AM</option>
                                    <option>11:00 AM</option>
                                    <option>11:30 AM</option>
                                    <option>12:00 PM</option>
                                    <option>12:30 PM</option>
                                    <option>1:00 PM</option>
                                    <option>1:30 PM</option>
                                    <option>2:00 PM</option>
                                    <option>2:30 PM</option>
                                    <option>3:00 PM</option>
                                    <option>3:30 PM</option>
                                    <option>4:00 PM</option>
                                    <option>4:30 PM</option>
                                    <option>5:00 PM</option>
                                    <option>5:30 PM</option>
                                    <option>6:00 PM</option>
                                    <option>6:30 PM</option>
                                    <option>7:00 PM</option>
                                    <option>7:30 PM</option>
                                    <option>8:00 PM</option>
                                    <option>8:30 PM</option>
                                    <option>9:00 PM</option>
                                    <option>9:30 PM</option>
                                    <option>10:00 PM</option>
                                    <option>10:30 PM</option>
                                    <option>11:00 PM</option>
                                    <option>11:30 PM</option>
                                </select>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time" area-hidden="true"></span>
                                </span>
<!--                                <p>{{ event.start_time }}</p>-->
<!--                                <p>{{ event.end_time }} </p>-->
                                </div>
                            </div>
                        </div>
<!--                    </div>-->
<!--                        end datetimepair wrapper-->
<!--                        facebook link-->
                        <div class="form-group">
                            <label for="contact" class="col-sm-4 control-label">Facebook Link</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                            <input ng-model="event.links" type="text" class="form-control" id="contact" placeholder="https://www.facebook.com/events/">
                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                               
                                </div>
<!--                            <p>{{ event.fbLink }}</p>-->
                            </div>

                        </div>
                        
                        
<!--                        Event Description-->
                        
                         <div class="form-group required" ng-class="{'has-error':newEventForm.eventDes.$invalid && !newEventForm.eventDes.$pristine }">
                            <label for="event-des" class="col-sm-4 control-label">Public Event Description</label>
                            <div class="col-sm-8" data-example-id="textarea-form-control">
                                <textarea ng-model="event.event_desc" name="eventDes" class="form-control" rows="5" id="event-des" placeholder="Enter event description for public." required></textarea>
                                <p ng-show="newEventForm.eventDes.$invalid && !newEventForm.eventDes.$pristine" class="help-block">Event description is required.</p>
                             </div>
                            
                        </div>
                        
<!--                        Internal notes-->
                        
                        <div class="form-group">
                            <label for="event-des" class="col-sm-4 control-label">Internal Notes</label>
                            <div class="col-sm-8" data-example-id="textarea-form-control">
                                <textarea ng-model="event.notes" class="form-control" rows="5" id="event-des" placeholder="Enter internal notes for event."></textarea>
                                <p class="text-muted">For internal use only. Will not be displayed to public.</p>
<!--                                <p>{{event.notes}}</p>-->
                            </div>
                        </div>
                        
                        
<!--                  Primary DUU Contact-->
                        
                        <div class="form-group required" ng-class="{'has-error':newEventForm.eventContact.$invalid && !newEventForm.eventContact.$pristine }">
                            <label for="contact" class="col-sm-4 control-label">Primary DUU Contact</label>
                            <div class="col-sm-8">
                                <input ng-model="event.primary_duu_contacts.contact_name" name="eventContact" type="text" class="form-control" id="contact" placeholder="Name" required>
                                <p ng-show="newEventForm.eventContact.$invalid && !newEventForm.eventContact.$pristine" class="help-block">A primary contact is required.</p>
<!--                                <p>{{ event.primary_duu_contacts.contact_name }}</p>-->
                            </div>
                            
                        </div>
<!--                        Primary contact email-->
                         <div class="form-group required" ng-class="{'has-error':newEventForm.contactNetID.$invalid && !newEventForm.contactNetID.$pristine }">
                            <label for="email" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                <input ng-model="event.primary_duu_contacts.contact_info" name="contactNetID" type="text" class="form-control" id="email" placeholder="NetID" required>
                                <span class="input-group-addon">@duke.edu</span>
                                </div>
                                <p ng-show="newEventForm.contactNetID.$invalid && !newEventForm.contactNetID.$pristine" class="help-block">Please enter the netID of the primary contact.</p>
                            </div>
                        </div>
                        
                        <!--                  Primary external Contact-->
                        
                        <div class="form-group required" ng-class="{'has-error':newEventForm.extContact.$invalid && !newEventForm.extContact.$pristine }">
                            <label for="extContact" class="col-sm-4 control-label">Primary External Contact</label>
                            <div class="col-sm-8">
                                <input ng-model="event.primary_ext_contacts.contact_name" name="extContact" type="text" class="form-control" id="contact" placeholder="Name" required>
                                <p ng-show="newEventForm.extContact.$invalid && !newEventForm.extContact.$pristine" class="help-block">A primary external contact is required.</p>
<!--                                <p>{{ event.primary_ext_contacts.contact_name }}</p>-->
                            </div>
                            
                        </div>
                        
<!--                        external contact email-->
                        
                         <div class="form-group required" ng-class="{'has-error':newEventForm.extContactNetID.$invalid && !newEventForm.extContactNetID.$pristine }">
                            <label for="extEmail" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                <input ng-model="event.primary_ext_contacts.contact_info" name="extContactNetID" type="text" class="form-control" id="extEmail" placeholder="NetID" required>
                                <span class="input-group-addon">@duke.edu</span>
                                </div>
                                <p ng-show="newEventForm.extContactNetID.$invalid && !newEventForm.extContactNetID.$pristine" class="help-block">Please enter the netID of the external contact.</p>
                            </div>
                        </div>
                        
                        
                        
<!--                        RESTRICTED ACCESS-->
                        <div class="form-group required" ng-class="{'has-error':event.incomplete_access_option }">
                            <label for="access" class="col-sm-4 control-label">Restricted DUU Event</label>
                            <div class="col-sm-8">
                                <div class="form-inline input-group radio" name="restrictedAccess">
                                      <label><input type="radio" ng-model="event.restricted_access" value="true" name="restricted"> Yes &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</label>

                                      <label><input type="radio" ng-model="event.restricted_access" value="false" name="restricted"> No &nbsp; &nbsp;</label>
<!--                                    </div>-->
                                  </div>
<!--                                <p>{{ event.restricted_access }}</p>-->
                                <p ng-show="event.incomplete_access_option" class="help-block">Restricted option is required.</p>
                            </div>
                            
                        </div>
                        
                        <!--                        IS PUBLIC       -->
                        <div class="form-group required" ng-class="{'has-error':event.incomplete_public_option }">
                            <label for="public" class="col-sm-4 control-label">Visible to Public</label>
                            <div class="col-sm-8">
                                <div class="form-inline input-group radio" name="isPublic">
                                      <label><input id="public" ng-model="event.is_public" value="true" type="radio" name="public"> Yes &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</label>

                                      <label><input type="radio" ng-model="event.is_public" value="false" name="public"> No &nbsp; &nbsp;</label>
<!--                                    </div>-->
                                  </div>
<!--                                <p>{{ event.is_public }}</p>-->
                                <p ng-show="event.incomplete_public_option" class="help-block">Public option is required.</p>
                            </div>
                            
                        </div>
                        
                        
                        <br>
<!--                        <p>{{ newEventForm.$valid }}</p>-->
                        <div class="pull-right">
                         <input type="submit" value="Submit" ng-click="submitForm()" class="btn btn-default">
                        </div>
                        <br> <br> <br> <br>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!-- /#page-content-wrapper -->
<!--
        <div class="push">
            
        </div>
-->
        
<!--
        <footer class="footer"> 
            <div class="container-fluid">
                <p class="text-muted">@Copyright Duke University Union</p>
            </div>
        </footer>
-->
    </div>
    <!-- /#wrapper -->

    <!--    javascript-->

    <script>
        $('#committee').selectpicker({
                liveSearch:true,
                maxOptions:1,
                
            });
        $('#event-time-from').selectpicker({
            liveSearch:false,
            maxOptions:1,
        });
        $('#event-time-to').selectpicker({
            liveSearch:false,
            maxOptions:1,
        });
        $('#menu-toggle').click(function(event){
                event.preventDefault();
                $('#wrapper').toggleClass('toggled');
            });
       
        
       
    </script>
